{% macro children(children) %}
    <ol class="dd-list dark">
    {% for child in children %}
        <li class="dd-item" id="{{ child.name }}" data-name="{{ child.name }}" data-url="{{ child.url }}">
            <div class="dd-handle">{{ child.name }}</div>
            {% if child.children is defined %}
                {{ _self.children(child.children) }}
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endmacro %}